doctype
<!--[if IE 8]>
  <html lang="en" class="ie8 no-js">
<![endif]-->
<!--[if IE 9]>
  <html lang="en" class="ie9 no-js">
<![endif]-->
html(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title todolist
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    //- GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    //- PAGE LEVEL PLUGINS
    link(href='../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/select2/css/select2.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/plugins/select2/css/select2-bootstrap.min.css', rel='stylesheet', type='text/css')
    //- THEME GLOBAL STYLES
    link#style_components(href='../assets/global/css/components.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/global/css/plugins.min.css', rel='stylesheet', type='text/css')
    //- PAGE LEVEL STYLES
    link(href='../assets/apps/css/todo-2.min.css', rel='stylesheet', type='text/css')
    //- THEME LAYOUT STYLES
    link(href='../assets/layouts/layout/css/layout.min.css', rel='stylesheet', type='text/css')
    link#style_color(href='../assets/layouts/layout/css/themes/darkblue.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/layouts/layout/css/custom.min.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='favicon.ico')
  body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white
    .page-wrapper
        //- HEADER
        .page-header.navbar.navbar-fixed-top
          //- HEADER INNER
          .page-header-inner
            //- LOGO
            .page-logo
              a(href="/")
                img(src="../assets/layouts/layout/img/logo.png", alt="logo", class="logo-default")
              .menu-toggler.sidebar-toggler
                span
            //- RESPONSIVE MENU TOGGLER
            a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
              span
        //- HEADER & CONTENT DIVIDER
        .clearfix
        //- CONTAINER
        .page-container
          //- SIDEBAR
          .page-sidebar-wrapper
            .page-sidebar.navbar-collapse.collapse
              //- SIDEBAR MENU
              ul.page-sidebar-menu.page-header-fixed(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200', style='padding-top: 20px')
                //- SIDEBAR TOGGLER BUTTON
                li.sidebar-toggler-wrapper.hide
                  .sidebar-toggler
                    span
                //- SAY HELLO
                li.heading
                  h3.uppercase 안녕하세요 제이!
                //- TASK MANAGEMENT MENU
                li.nav-item.start.active.open
                  a.nav-link.nav-toggle(href='javascript:;')
                    i.icon-check
                    span.title ToDo
                    span.selected
                    //- span.arrow
                  //- ul.sub-menu
                    li.nav-item.active
                      a.nav-link(href='app_todo')
                        i.icon-check
                        span.title ToDo
                        span.selected
          //- CONTENT
          .page-content-wrapper
            //- CONTENT BODY
            .page-content
              .row
                .col-md-12
                  //- ToDo SIDEBAR
                  .todo-ui
                    .todo-sidebar
                      .portlet.light
                        .portlet-title
                          .caption(data-toggle="collapse" data-target=".todo-project-list-content")
                              span.caption-subject.font-green-sharp.bold.uppercase PROJECTS
                              span.caption-helper.visible-sm-inline-block.visible-xs-inline-block 여기를 눌러 리스트를 보세요
                        .portlet-body.todo-project-list-content
                          .todo-project-list
                            .nav.nav-stacked
                              li.active
                                a(href="javascript:;")
                                      span.badge.badge-info 1
                                      | The App Project

                  //- ToDo CONTENT
                  .todo-content
                    .portlet.light
                      .portlet-body
                        .row
                          //- TASK LIST
                          .col-md-5.col-sm-4
                            .todo-tasklist
                               each val in tasks
                                 .todo-tasklist-item.todo-tasklist-item-border-green(data-id= val.id)
                                    .todo-tasklist-item-title #{val.title}
                                    if val.details.length
                                      .todo-tasklist-item-text #{val.details}
                                      if val.due
                                        .todo-tasklist-controls.pull-left
                                          span.todo-tasklist-date
                                            i.fa.fa-calendar
                                            - var due = val.due
                                            |  #{moment(due).format('MM')}월 #{moment(due).format('DD')}일
                          .todo-tasklist-devider

                          //- TASK CONTENT
                          .col-md-7.col-sm-8
                            form.form-horizontal(action='/add', method='POST')
                              .form
                                //- TASK TITLE
                                .form-group
                                  .col-md-12
                                    input.form-control.todo-taskbody-tasktitle(type='text', name='title', placeholder='업무 제목...', value= tasks[0].title)
                                //- TASK DESC
                                .form-group
                                  .col-md-12
                                    textarea.form-control.todo-taskbody-taskdesc(rows='8', name='details' placeholder='업무에 대한 자세한 설명...')
                                      | 여기에 내용을 넣자                                    
                                //- TASK DUE DATE
                                .form-group
                                  .col-md-12
                                    .input-icon
                                      i.fa.fa-calendar
                                      input.form-control.todo-taskbody-due(type='text', name='due' placeholder='업무 기한...')
                                //- TASK TAGS
                                .form-group
                                  .col-md-12
                                    select.form-control.todo-taskbody-tags(name='status')
                                      option(value='대기중') 대기중
                                      option(value='진행중') 진행중
                                      option(value='완료됨') 완료됨
                                      option(value='취소됨') 취소됨
                                //- TASK ACTION
                                .form-actions.right.todo-form-actions
                                  button.btn.btn-circle.btn-sm.green 저장하기
                                  button.btn.btn-circle.btn-sm.btn-default 취소하기

                          //- TASK CONTENT (ADD)
                          .col-md-7.col-sm-8
                            form.form-horizontal(action='/add', method='POST')
                              .form
                                //- TASK TITLE
                                .form-group
                                  .col-md-12
                                    input.form-control.todo-taskbody-tasktitle(type='text', name='title', placeholder='업무 제목...')
                                //- TASK DESC
                                .form-group
                                  .col-md-12
                                    textarea.form-control.todo-taskbody-taskdesc(rows='8', name='details' placeholder='업무에 대한 자세한 설명...')
                                //- TASK DUE DATE
                                .form-group
                                  .col-md-12
                                    .input-icon
                                      i.fa.fa-calendar
                                      input.form-control.todo-taskbody-due(type='text', name='due' placeholder='업무 기한...')
                                //- TASK TAGS
                                .form-group
                                  .col-md-12
                                    select.form-control.todo-taskbody-tags(name='status')
                                      option(value='대기중') 대기중
                                      option(value='진행중') 진행중
                                      option(value='완료됨') 완료됨
                                      option(value='취소됨') 취소됨
                                //- TASK ACTION
                                .form-actions.right.todo-form-actions
                                  button.btn.btn-circle.btn-sm.green 저장하기
                                  button.btn.btn-circle.btn-sm.btn-default 취소하기
    //- FOOTER
    .page-footer
      .page-footer-inner
        | 2017 © WebApp by Jay Ahn
        a(target='_blank', href='http://www.tport.io') T PORT INC.
      .scroll-to-top
        i.icon-arrow-up

    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    //- CORE PLUGINS
    script(src='../assets/global/plugins/jquery.min.js', type='text/javascript')
    script(src='../assets/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='../assets/global/plugins/js.cookie.min.js', type='text/javascript')
    script(src='../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='../assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
    //- BEGIN PAGE LEVEL PLUGINS
    script(src='../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js', type='text/javascript')
    script(src='../assets/global/plugins/select2/js/select2.full.min.js', type='text/javascript')
    //- THEME GLOBAL SCRIPTS
    script(src='../assets/global/scripts/app.min.js', type='text/javascript')
    //- BEGIN PAGE LEVEL SCRIPTS
    script(src='../assets/apps/scripts/todo-2.js', type='text/javascript')
    //- BEGIN THEME LAYOUT SCRIPTS
    script(src='../assets/layouts/layout/scripts/layout.min.js', type='text/javascript')
    script(src='../assets/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
    script(src='../assets/layouts/global/scripts/quick-nav.min.js', type='text/javascript')
